.select-container{
    background-color: #050404; /* Sfondo scuro */
    border-radius: 12px; /* Bordo arrotondato */
    margin: auto;
    max-width: 400px;
  }
  
  .select-input {
    color: #1c1818; /* Colore del testo nero */ 
  }
  