<ion-header>
  <ion-toolbar>
    <ion-title>Modifica Profilo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="myContent">
  <ion-list>
    <ion-title class="ion-text-center"></ion-title>
        
      <ion-img src="{{ imgSrc }}"></ion-img>
      <ion-button *ngIf="this.plugin.mobile()" id="myButtonYellow" expand="full" (click)="chooseImage()">Cambia foto</ion-button>
      
      <ion-button *ngIf="!this.plugin.mobile()" id="myButtonYellow" expand="full" (click)="f.click()">Cambia foto</ion-button>
      <input  class="ion-hide" #f type="file" (change)="chooseImage($event)" id="file-input" accept="image/png, image/jpeg">


        <form [formGroup]="editProfileUserForm" (ngSubmit)="submit()" *ngIf="this.app.utenza=='utente'">
                <ion-item> <!--!telefono-->
                  <ion-label position="floating">Telefono</ion-label>
                  <ion-input formControlName="telefono" autocapitalize inputmode="text"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.telefono">
                  <ng-container *ngIf="telefono.hasError(error.type) && (telefono.dirty || telefono.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>

                <ion-item> <!--!email-->
                  <ion-label position="floating">Email</ion-label>
                  <ion-input formControlName="email" autocapitalize inputmode="text"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.email">
                  <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>

                <ion-item> <!--!stato-->
                  <ion-label position="floating">Stato</ion-label>
                  <ion-input formControlName="stato" autocapitalize inputmode="text"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.stato">
                  <ng-container *ngIf="stato.hasError(error.type) && (stato.dirty || stato.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>

                <ion-item> <!--!regione-->
                  <ion-label position="floating">Regione</ion-label>
                  <ion-input formControlName="regione" autocapitalize inputmode="text"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.regione">
                  <ng-container *ngIf="regione.hasError(error.type) && (regione.dirty || regione.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>


                <ion-item> <!--!Citta-->
                  <ion-label position="floating">Città</ion-label>
                  <ion-input formControlName="citta" autocapitalize inputmode="text"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.citta">
                  <ng-container *ngIf="citta.hasError(error.type) && (citta.dirty || citta.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>


                <ion-item> <!--!Via-->
                  <ion-label position="floating">Via</ion-label>
                  <ion-input formControlName="via" autocapitalize inputmode="text"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.via">
                  <ng-container *ngIf="via.hasError(error.type) && (via.dirty || via.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>

                <ion-item> <!--!cap-->
                  <ion-label position="floating">CAP</ion-label>
                  <ion-input formControlName="cap" autocapitalize inputmode="text"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.cap">
                  <ng-container *ngIf="cap.hasError(error.type) && (cap.dirty || cap.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>
                <p class="error-message">{{this.errore}}</p>

              <ion-button type="submit" expand="block">
                Modifica
              </ion-button>
          </form>

  </ion-list>
  <p>{{this.errorep}}</p>
    <ion-button id="myButtonYellow" expand="full" (click)="cambiaPass()">Cambia Password</ion-button>

</ion-content>
